body{
    margin: 0;
    padding: 0;
    
}
header{
    width: 100%;
    height: 70px;
    background-color: purple;
    display: flex;
}

header .logo{
    width: 15%;
}
header .logo img{
    margin: 15px;
}
header nav{
    width: 80%;
}
@media(max-width:550px){
    header{
        width: 100%;
        height: 50px;
    } 
    header .logo img{
        width: 20px;       
        height: 15px; 
        margin-left: 0px;
    }   
    header nav{
        width: 80%;
        justify-content: space-around;
        font-size: x-small;
    }
}
@media (max-width:1000px) {
    header{
        width: 100%;
        height: 60px;
    }
    header .logo img{
        width: 100px;
    }
    header nav{
        width: 80%;
        justify-content: space-around;
       
    }
    
}
 nav ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
    line-height: 30px;
}
nav ul li a:hover{
    color: gold;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
    position: relative;
}
nav ul li ul{
    color: white;
    width: 280px;
    min-height: 50px;
    border-radius: 20px;
    background-color:rgb(24, 68, 35);
    display: none;
    position: absolute;
    line-height: 40px;
    font-size: 20px;
}
nav ul li:hover ul{
    display: block;
    z-index: 1;
}
ul li img{
    width: 30px;
}
nav ul li i{
    margin: 5px;
}
main{
    width: 100%;
   height: 100vh;
    background-color: yellowgreen;
    animation-name: slideshow;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@media (max-width:600px){
    main{
        width: 100%;
        height: 100vh;
    }
}
@keyframes slideshow{
    0%{
        background-image: url(../img/arsvsmanc.jpg);
        background-repeat: none;
        background-size: cover;
    }
    50%{
        background-image: url(../img/barca-vs-athletico.jpg);
        background-repeat: none;
        background-size: cover;
    }
    75%{
        background-image: url(../img/psg-vs-lorient.jpg);
        background-repeat: none;
        background-size: cover;
    }
    100%{
        background-image: url(../img/real-vs-villarreal.jpg);
        background-repeat: none;
        background-size: cover;
    }
}



footer{
    background-color:black;
    width: 100%;
    height: 140px;    
}
@media (min-width:600px){
    .lists ul li{
        width: 5%;
    }
    .lists ul li a{
        font-size: 10px;
    }
}
.follow{
    color: white;
    font-size: 27px;
    text-align: right;
}
.follow i{
    padding: 10px;
}
.follow i:hover{
    font-size: 32px;
}

.follow i:nth-child(1){
    color: blue;
}
.follow i:nth-child(2){
    color:  #00acee;
}
.follow i:nth-child(3){
    color: rgb(0, 226, 0);
}
.lists{
    width: 90%;
    margin: auto;
}
.lists ul{
    display: flex;
    list-style: none;
}
.lists ul li{
    width: 20%;
}

.lists ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.lists ul li a:hover{
    color: gold;
}
