body{
    margin: 0;
    padding: 0;
    
}
header{
    width: 100%;
    height: 70px;
    background-color: purple;
    display: flex;
}

header .logo{
    width: 15%;
}
header .logo img{
    margin: 15px;
}
header nav{
    width: 80%;
}
@media(max-width:550px){
    header{
        width: 100%;
        height: 50px;
    } 
    header .logo img{
        width: 20px;       
        height: 15px; 
        margin-left: 0px;
    }   
    header nav{
        width: 80%;
        justify-content: space-around;
        font-size: x-small;
    }
}
@media (max-width:1000px) {
    header{
        width: 100%;
        height: 60px;
    }
    header .logo img{
        width: 100px;
    }
    header nav{
        width: 80%;
        justify-content: space-around;
       
    }
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-family: 'Itim', cursive;
    line-height: 30px;
}
nav ul li a:hover{
    color: gold;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
    position: relative;
}
nav ul li ul{
    color: white;
    width: 280px;
    min-height: 50px;
    border-radius: 20px;
    background-color:rgb(24, 68, 35);
    display: none;
    position: absolute;
    line-height: 40px;
    font-size: 20px;
}
nav ul li:hover ul{
    display: block;
    z-index: 2;
}
ul li img{
    width: 30px;
}
nav ul li i{
    margin: 5px;
}
main::before{
    content: "";
    background-image: url(../background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;

}

main{
    position: relative;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 700px;
    z-index: 1;

}
main .info{
    width: 30%;
    min-height: 10px;
    margin: 150px 0px;
   color: wheat;
    font-size: 52px;
    font-weight: bold;
}
.info p{
    color: yellow;
    font-size: 30px;
    font-weight: 100;
}
.container{
    width: 40%;
    height: 370px;
    background-color: black;
    margin: 150px 0px;
    border-radius: 10px;
    border:none;
    opacity: 0.8;
}
.form-group{
    width: 80%;
    margin: auto;
}
.form-control{
    width: 100%;
    height: 40px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
}
.form-group .btn-success{
    width: 100%;
    height: 50px;
    background-color: purple;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: xx-large;
    border-radius: 5px;
}
::placeholder{
    color: grey;
    font-size: larger;
    padding: 10px;
    opacity: 0.9;
}
.container p{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.container p a{
    font-weight: bold;
    color: blue;
    text-decoration: none;
    font-size: larger;
}
.btn-success2{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 25px 10%;
    background-color: blueviolet;
}
.btn-success2:hover{
    background-color: green;
}
.btn-success2 a{
    text-decoration: none;
    color: white;
    font-size: x-large;

}
iframe{
    height: 200px;
    width: 100%;
    background-color: white;
}




footer{
    background-color:black;
    width: 100%;
    height: 150px;
}
.follow{
    color: white;
    font-size: 27px;
    font-family: 'Aboreto', cursive;
    text-align: right;
}
.follow i{
    padding: 10px;
}
.follow i:hover{
    font-size: 32px;
}

.follow i:nth-child(1){
    color: blue;
}
.follow i:nth-child(2){
    color:  #00acee;
}
.follow i:nth-child(3){
    color: rgb(0, 226, 0);
}
.lists{
    width: 90%;
    margin: auto;
}
.lists ul{
    display: flex;
    list-style: none;
}
.lists ul li{
    width: 20%;
}

.lists ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}
.lists ul li a:hover{
    color: gold;
}
