body{
    margin: 0;
    padding: 0;
    background-color: rgba(218, 214, 214, 1);
}
header{
    width: 100%;
    height: 70px;
    background-color: purple;
    display: flex;
}
header .logo{
    width: 15%;
}
header .logo img{
    margin: 15px;
}
header nav{
    width: 80%;
    
}

 nav ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
    line-height: 30px;
}
 nav ul li a:hover{
    color: gold;
}
nav ul li{
    position: relative;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li .dropdown{
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 180px;
    padding-left: 10px;
    background-image: url(background2.jpg);
    opacity: 0.9;
    border-radius: 10px;
    background-size: contain;
    display: none;
    position: absolute;
    line-height: 60px;
    font-size: 26px;
}
nav ul li:hover .dropdown{
    display: block;
}
nav ul li i{
    margin: 5px;
}
.header2{
    width: 100%;
    background-color: red;
    height: 20px;

}
.header2 a{
    color: white;
    text-decoration: none;
    margin: auto;
}
.header2 a:hover{
    color: blue;
    font-weight: bolder;
}

.contents{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.aside1{
    width: 23%;
    height: 678px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.aside1 h2{
    margin: 0;
}
.aside1 ul li{
    text-align: left;
    color: rgb(151, 17, 151);
    font-weight: bold;
    font-size: 20px;
}
.aside1 ul li ul li{
    color:black;
    font-size: 15px;
    list-style:square;
}
.aside1 ul li ul li:hover{
    color: blue;
    text-decoration: underline;
}
.box1{
    background-color: blueviolet;
    width: 100%;
    color: white;
    font-size: xx-large;
    line-height: 50px;
    height: 50px;
    text-decoration: underline;
}
.box1:hover{
    background-color: blue;
}
main{
    width: 75%;
    background-color: pink;
    height: 678px;
}
main .pic1{
    width: 100%;
    margin: auto;
    height: 570px;
}
main .pic1 h3{
    color: purple;
    text-align: center;
}
main .pic1 h3:hover{
    color: blue;
}
main .pic1 p{
    font-size: 17px;
    text-align: center;
}
.pic1 img{
    width: 100%;
    height: 100%;
}
.aside2{
    width: 23%;
    height: 678px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.aside2 ul{
    font-size: 25px;
}
.aside2 ul li a{
    color: blue;
    text-decoration: none;
}
.aside2 ul li a:hover{
    text-decoration: underline;
    color: green;
} 
.aside2 ul li p{
    color: rgb(73, 1, 1);
    font-size: large;
    margin-top: 1px;
    text-align: left;
}
main .header{
    line-height: 5px;
    color: red;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.pic1 .onpic{
margin-top: -75px;
text-align: center;
color: white;
font-size: 36px;
font-weight: bolder;
}
section{
    margin-top: 1%;
    width: 100%;
    height: 300px;
    background-color: black;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe{
    width: 200px;
    height: 50px;
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    font-size: 45px;
    text-align: center;
    border-radius: 300px;
   align-items: center;
}
footer{
    background-color:black;
    width: 100%;
    height: 140px;
}
.follow{
    color: white;
    font-size: 27px;
    text-align: right;
}
.follow i{
    padding: 10px;
}
.follow i:hover{
    font-size: 32px;
}

.follow i:nth-child(1){
    color: blue;
}
.follow i:nth-child(2){
    color:  #00acee;
}
.follow i:nth-child(3){
    color: rgb(0, 226, 0);
}
.lists{
    width: 90%;
    margin: auto;
}
.lists ul{
    display: flex;
    list-style: none;
}
.lists ul li{
    width: 20%;
}
.lists ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.lists ul li a:hover{
    color: gold;
}
